@media (width < 1044px){
    .ql-container{
        height: 77% !important;
    }
}

@media (width > 1044px){
    .ql-container{
        height: 85% !important;
    }
}

.quill{
    margin-top: 5px;
    height: 58%;
}

.quill::-webkit-scrollbar{
    width: 5px;
}

.ql-container{
    /* height: 85% !important; */
    border-top: 1px solid gray;
}

.dangerouslySetHTML{
    margin: 0;
    max-height: 40px;
    overflow: hidden;
}